In [1]:
import datetime
import pandas as pd
import numpy as np

In [2]:
# Time Series information can be parsed from various sources and formates

In [3]:
dti = pd.to_datetime(
["1/1/2018", np.datetime64("2018-01-01"), datetime.datetime(2018,1,1)])

In [4]:
dti

DatetimeIndex(['2018-01-01', '2018-01-01', '2018-01-01'], dtype='datetime64[ns]', freq=None)

In [5]:
# Generating sequencees of fixed-frequebcy dates and time spans #

In [6]:
fixed_frq_dates = pd.date_range("2018-01-01", periods=6, freq="H")

In [7]:
fixed_frq_dates

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 04:00:00', '2018-01-01 05:00:00'],
              dtype='datetime64[ns]', freq='H')

In [8]:
# Converting to UTC time #

In [9]:
fixed_frq_dates.tz_localize("UTC")

DatetimeIndex(['2018-01-01 00:00:00+00:00', '2018-01-01 01:00:00+00:00',
               '2018-01-01 02:00:00+00:00', '2018-01-01 03:00:00+00:00',
               '2018-01-01 04:00:00+00:00', '2018-01-01 05:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='H')

In [10]:
# Converting to local time zone #

In [11]:
fixed_frq_dates.tz_localize("UTC").tz_convert("US/Pacific")

DatetimeIndex(['2017-12-31 16:00:00-08:00', '2017-12-31 17:00:00-08:00',
               '2017-12-31 18:00:00-08:00', '2017-12-31 19:00:00-08:00',
               '2017-12-31 20:00:00-08:00', '2017-12-31 21:00:00-08:00'],
              dtype='datetime64[ns, US/Pacific]', freq='H')

In [12]:
# Resampling or converting a time series to a particular frequency

In [13]:
idx = pd.date_range(start="2018-01-01", periods=5, freq="H")

In [14]:
ts = pd.Series(range(len(idx)), index=idx)

In [49]:
# ts obj. is sampled with hourly frequency
# let's resampled/downsample it with 2 Hour freq, and calc. mean
# Resampling is akin to groupBy with indices on index
# ts.resample("2H").groups will provide group key

In [15]:
ts.resample("2H").mean()

2018-01-01 00:00:00    0.5
2018-01-01 02:00:00    2.5
2018-01-01 04:00:00    4.0
Freq: 2H, dtype: float64

In [16]:
ts

2018-01-01 00:00:00    0
2018-01-01 01:00:00    1
2018-01-01 02:00:00    2
2018-01-01 03:00:00    3
2018-01-01 04:00:00    4
Freq: H, dtype: int64

In [17]:
ts.resample("2H").groups

{Timestamp('2018-01-01 00:00:00', freq='2H'): 2,
 Timestamp('2018-01-01 02:00:00', freq='2H'): 4,
 Timestamp('2018-01-01 04:00:00', freq='2H'): 5}

In [21]:
ts.resample("2H").get_group(name='2018-01-01 00:00:00')

2018-01-01 00:00:00    0
2018-01-01 01:00:00    1
Freq: H, dtype: int64

In [22]:
ts.resample("2H").get_group(name='2018-01-01 02:00:00')

2018-01-01 02:00:00    2
2018-01-01 03:00:00    3
Freq: H, dtype: int64

In [23]:
ts.resample("2H").get_group(name='2018-01-01 04:00:00')

2018-01-01 04:00:00    4
Freq: H, dtype: int64

In [24]:
# Doing Date and Time Arithemetic with abs or relative time increments #

In [25]:
friday = pd.Timestamp("2018-01-05")

In [26]:
friday.day_name()

'Friday'

In [27]:
saturday = friday + pd.Timedelta("1 day")

In [28]:
saturday.day_name()

'Saturday'

In [29]:
friday

Timestamp('2018-01-05 00:00:00')

In [30]:
monday = friday + pd.offsets.BDay()

In [31]:
monday.day_name()

'Monday'

## Overview

1. Date times: Similar to `datetime.datetime` from the standard library
2. Time delta: Similar to `datetime.timedelta`from python
3. Time spans: A span of time defined with req. frequency

In [32]:
# Series with time component in index #
pd.Series(range(4), index=pd.date_range(start="2000",
                                        freq="D", periods=4))

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
Freq: D, dtype: int64

In [33]:
pd.Series(pd.date_range(start="2000",freq="D", periods=4))

0   2000-01-01
1   2000-01-02
2   2000-01-03
3   2000-01-04
dtype: datetime64[ns]

In [34]:
pd.Series(pd.period_range(start="2000",freq="D", periods=4))

0    2000-01-01
1    2000-01-02
2    2000-01-03
3    2000-01-04
dtype: period[D]

In [35]:
# Null date times, time deltas and time spans as NAT
# can be usefull representing missing or null date like

In [36]:
pd.Timestamp(pd.NaT)

NaT

In [37]:
pd.Timedelta(pd.NaT)

NaT

In [38]:
pd.Period(pd.NaT)

NaT

In [39]:
pd.NaT == pd.NaT

False

In [40]:
np.nan == np.nan

False

## Timestamps vs. time spans

**Timestamp:**
When values are associated with time:
> Like a graph between: `Temperature vs Time`

**timespans:**
Change in variables can be associated with a time span

In [41]:
pd.Timestamp(datetime.datetime(2012, 5, 1))

Timestamp('2012-05-01 00:00:00')

In [42]:
pd.Timestamp("2012-05-01")

Timestamp('2012-05-01 00:00:00')

In [43]:
pd.Timestamp(2012, 5, 1)

Timestamp('2012-05-01 00:00:00')

In [44]:
pd.Period("2011-01")

Period('2011-01', 'M')

In [45]:
pd.Period("2012-05", freq="D")

Period('2012-05-01', 'D')

In [46]:
# Both timestamp and period can serve as an index #
date = [pd.Timestamp("2012-05-01"),
        pd.Timestamp("2012-05-02"),
        pd.Timestamp("2012-05-03")]

In [47]:
ts = pd.Series(np.random.randn(3), date)

In [48]:
ts

2012-05-01    1.114197
2012-05-02    0.951200
2012-05-03   -0.331257
dtype: float64

In [49]:
type(ts.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [50]:
ts.index

DatetimeIndex(['2012-05-01', '2012-05-02', '2012-05-03'], dtype='datetime64[ns]', freq=None)

In [51]:
# Using Periods #
periods = [pd.Period("2012-01"),
           pd.Period("2012-02"),
           pd.Period("2012-03")]

In [52]:
ts_2 = pd.Series(np.random.randint(3), periods)

In [53]:
ts_2

2012-01    0
2012-02    0
2012-03    0
Freq: M, dtype: int64

In [54]:
type(ts_2.index)

pandas.core.indexes.period.PeriodIndex

In [55]:
ts_2.index

PeriodIndex(['2012-01', '2012-02', '2012-03'], dtype='period[M]', freq='M')

In [56]:
## Converting to timestamps ##
## Series obj gets converted to dateime with index unchanged
## list argument becomes datetimeIndex

In [57]:
pd.to_datetime(pd.Series(["Jul 31, 2009",
                          "2010-01-10", None]))

0   2009-07-31
1   2010-01-10
2          NaT
dtype: datetime64[ns]

In [58]:
# List of strings ->pd.to_datetime -> DateTimeIndex
pd.to_datetime(["2005/11/23", "2010.12.31"])

DatetimeIndex(['2005-11-23', '2010-12-31'], dtype='datetime64[ns]', freq=None)

In [59]:
# Str -> pd.to_datetime -> Timestamp
pd.to_datetime("2020/11/12")

Timestamp('2020-11-12 00:00:00')

In [60]:
# format argument can be passed to pd.to_datetime()
# ensures specific parsing
# can speed up the conservation considerably

In [61]:
pd.to_datetime("2010/11/12")

Timestamp('2010-11-12 00:00:00')

In [62]:
# Now providing format args #
pd.to_datetime("2010/11/12", format="%Y/%m/%d")

Timestamp('2010-11-12 00:00:00')

In [63]:
pd.to_datetime("12-11-2010", format="%d-%m-%Y")

Timestamp('2010-11-12 00:00:00')

In [64]:
pd.Timestamp("2020/11/12")

Timestamp('2020-11-12 00:00:00')

In [65]:
# DatetimeIndex constructor can be called directly #
pd.DatetimeIndex(["2018-01-01", 
                  "2018-01-03", 
                  "2018/01/05"])

DatetimeIndex(['2018-01-01', '2018-01-03', '2018-01-05'], dtype='datetime64[ns]', freq=None)

In [115]:
# Assembling datetime from multiple DataFrame Columns

In [66]:
df = pd.DataFrame(
{
    "year": [2015,2016],
    "month": [2,3],
    "day": [4,5],
    "hour":[2,3]
})

In [67]:
df

   year  month  day  hour
0  2015      2    4     2
1  2016      3    5     3

In [68]:
pd.to_datetime(df[["year","month","day"]])

0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

In [69]:
# Epoch timestamps #

In [70]:
pd.to_datetime([1349720105, 1349806505], unit="s")

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-09 18:15:05'], dtype='datetime64[ns]', freq=None)

In [71]:
# Timestamps to epoch #
stamps = pd.date_range("2012-10-08 18:15:05",
                       periods=4, freq="D")

In [72]:
stamps

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-09 18:15:05',
               '2012-10-10 18:15:05', '2012-10-11 18:15:05'],
              dtype='datetime64[ns]', freq='D')

In [73]:
(stamps-pd.Timestamp("1970-01-01"))//pd.Timedelta("1s")

Int64Index([1349720105, 1349806505, 1349892905, 1349979305], dtype='int64')

In [74]:
pd.to_datetime([1,2,3], unit="D")

DatetimeIndex(['1970-01-02', '1970-01-03', '1970-01-04'], dtype='datetime64[ns]', freq=None)

In [75]:
# Generating ranges of timestamps #

In [76]:
dates = [datetime.datetime(2012,5,1),
         datetime.datetime(2012,5,2),
         datetime.datetime(2012,5,3)]

In [77]:
index= pd.DatetimeIndex(dates)

In [78]:
index

DatetimeIndex(['2012-05-01', '2012-05-02', '2012-05-03'], dtype='datetime64[ns]', freq=None)

In [79]:
# Same as above #
index = pd.Index(dates)

In [80]:
index

DatetimeIndex(['2012-05-01', '2012-05-02', '2012-05-03'], dtype='datetime64[ns]', freq=None)

In [152]:
# Creating timestamps on a regular frequency #

In [81]:
start = pd.Timestamp(2011,1,1)

In [82]:
end = pd.Timestamp(2012,1,1)

In [83]:
index = pd.date_range(start,end)

In [84]:
index

DatetimeIndex(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
               '2011-01-05', '2011-01-06', '2011-01-07', '2011-01-08',
               '2011-01-09', '2011-01-10',
               ...
               '2011-12-23', '2011-12-24', '2011-12-25', '2011-12-26',
               '2011-12-27', '2011-12-28', '2011-12-29', '2011-12-30',
               '2011-12-31', '2012-01-01'],
              dtype='datetime64[ns]', length=366, freq='D')

In [85]:
index = pd.bdate_range(start, end)
index

DatetimeIndex(['2011-01-03', '2011-01-04', '2011-01-05', '2011-01-06',
               '2011-01-07', '2011-01-10', '2011-01-11', '2011-01-12',
               '2011-01-13', '2011-01-14',
               ...
               '2011-12-19', '2011-12-20', '2011-12-21', '2011-12-22',
               '2011-12-23', '2011-12-26', '2011-12-27', '2011-12-28',
               '2011-12-29', '2011-12-30'],
              dtype='datetime64[ns]', length=260, freq='B')

In [86]:
pd.date_range(start, periods=1000, freq="M")

DatetimeIndex(['2011-01-31', '2011-02-28', '2011-03-31', '2011-04-30',
               '2011-05-31', '2011-06-30', '2011-07-31', '2011-08-31',
               '2011-09-30', '2011-10-31',
               ...
               '2093-07-31', '2093-08-31', '2093-09-30', '2093-10-31',
               '2093-11-30', '2093-12-31', '2094-01-31', '2094-02-28',
               '2094-03-31', '2094-04-30'],
              dtype='datetime64[ns]', length=1000, freq='M')

In [87]:
pd.date_range(start,freq="W", periods=10)

DatetimeIndex(['2011-01-02', '2011-01-09', '2011-01-16', '2011-01-23',
               '2011-01-30', '2011-02-06', '2011-02-13', '2011-02-20',
               '2011-02-27', '2011-03-06'],
              dtype='datetime64[ns]', freq='W-SUN')

In [88]:
pd.Timestamp.min

Timestamp('1677-09-21 00:12:43.145225')

In [89]:
pd.Timestamp.max

Timestamp('2262-04-11 23:47:16.854775807')

## Indexing

In [91]:
date_rng = pd.date_range(start, end,freq="BM")

In [92]:
ts = pd.Series(np.random.randn(len(rng)), index=date_rng)

In [93]:
ts

2011-01-31   -1.478418
2011-02-28   -0.078647
2011-03-31   -0.345242
2011-04-29   -2.735369
2011-05-31   -0.171215
2011-06-30   -0.466517
2011-07-29   -0.265849
2011-08-31    0.776598
2011-09-30   -0.931294
2011-10-31   -0.000718
2011-11-30    1.881259
2011-12-30   -0.612161
Freq: BM, dtype: float64

In [94]:
## Partial String Indexing

In [95]:
ts.loc["1/31/2011"]

-1.4784180868384413

In [96]:
ts.loc[datetime.datetime(2011,12,25):]

2011-12-30   -0.612161
Freq: BM, dtype: float64

In [97]:
ts.loc["10/31/2011":"12/31/2011"]

2011-10-31   -0.000718
2011-11-30    1.881259
2011-12-30   -0.612161
Freq: BM, dtype: float64

In [98]:
ts.loc["2011"]

2011-01-31   -1.478418
2011-02-28   -0.078647
2011-03-31   -0.345242
2011-04-29   -2.735369
2011-05-31   -0.171215
2011-06-30   -0.466517
2011-07-29   -0.265849
2011-08-31    0.776598
2011-09-30   -0.931294
2011-10-31   -0.000718
2011-11-30    1.881259
2011-12-30   -0.612161
Freq: BM, dtype: float64

In [99]:
ts.loc["2011-6"]

2011-06-30   -0.466517
Freq: BM, dtype: float64

In [100]:
dft = pd.DataFrame(np.random.randn(10000,1 ),
                   columns=["A"],
                   index=pd.date_range("20130101",
                                        periods=10000,
                                        freq="T"))

In [101]:
dft.loc["2013"]

                            A
2013-01-01 00:00:00 -0.424227
2013-01-01 00:01:00  0.489179
2013-01-01 00:02:00 -0.743281
2013-01-01 00:03:00  1.432859
2013-01-01 00:04:00 -1.216970
...                       ...
2013-01-07 22:35:00  0.539798
2013-01-07 22:36:00 -0.028756
2013-01-07 22:37:00 -0.196235
2013-01-07 22:38:00  0.709063
2013-01-07 22:39:00  0.723447

[10000 rows x 1 columns]

In [102]:
dft.loc["2013-1":"2013-2"]

                            A
2013-01-01 00:00:00 -0.424227
2013-01-01 00:01:00  0.489179
2013-01-01 00:02:00 -0.743281
2013-01-01 00:03:00  1.432859
2013-01-01 00:04:00 -1.216970
...                       ...
2013-01-07 22:35:00  0.539798
2013-01-07 22:36:00 -0.028756
2013-01-07 22:37:00 -0.196235
2013-01-07 22:38:00  0.709063
2013-01-07 22:39:00  0.723447

[10000 rows x 1 columns]

In [103]:
dft.loc["2013-1":"2013-2-28"]

                            A
2013-01-01 00:00:00 -0.424227
2013-01-01 00:01:00  0.489179
2013-01-01 00:02:00 -0.743281
2013-01-01 00:03:00  1.432859
2013-01-01 00:04:00 -1.216970
...                       ...
2013-01-07 22:35:00  0.539798
2013-01-07 22:36:00 -0.028756
2013-01-07 22:37:00 -0.196235
2013-01-07 22:38:00  0.709063
2013-01-07 22:39:00  0.723447

[10000 rows x 1 columns]

In [104]:
dft.loc["2013-1-15":"2013-1-15 12:30:00"]

Empty DataFrame
Columns: [A]
Index: []

In [105]:
dft.loc["2013-1"]

                            A
2013-01-01 00:00:00 -0.424227
2013-01-01 00:01:00  0.489179
2013-01-01 00:02:00 -0.743281
2013-01-01 00:03:00  1.432859
2013-01-01 00:04:00 -1.216970
...                       ...
2013-01-07 22:35:00  0.539798
2013-01-07 22:36:00 -0.028756
2013-01-07 22:37:00 -0.196235
2013-01-07 22:38:00  0.709063
2013-01-07 22:39:00  0.723447

[10000 rows x 1 columns]

## With MultiIndex

In [106]:
dft2 = pd.DataFrame(np.random.randn(20,1),
                    columns=["A"],
                    index=pd.MultiIndex.from_product(
                    [pd.date_range("20130101",
                                   periods=10,
                                   freq="12H"), ["a","b"]]))

In [107]:
dft2

                              A
2013-01-01 00:00:00 a  0.051847
                    b  1.416442
2013-01-01 12:00:00 a  0.328322
                    b  0.515969
2013-01-02 00:00:00 a  0.080476
                    b  0.550581
2013-01-02 12:00:00 a -0.525652
                    b  0.932791
2013-01-03 00:00:00 a  4.425213
                    b  1.148442
2013-01-03 12:00:00 a  1.071000
                    b -0.057108
2013-01-04 00:00:00 a -1.448323
                    b -0.565424
2013-01-04 12:00:00 a  2.154625
                    b -0.898318
2013-01-05 00:00:00 a  0.093552
                    b -0.218473
2013-01-05 12:00:00 a  0.808761
                    b -0.139180

In [108]:
dft2.loc["2013-01-05"]

                              A
2013-01-05 00:00:00 a  0.093552
                    b -0.218473
2013-01-05 12:00:00 a  0.808761
                    b -0.139180

In [109]:
idx = pd.IndexSlice

In [110]:
idx

In [111]:
dft2 = dft2.swaplevel(0,1).sort_index()

In [113]:
dft2.loc[idx["a","2013-01-05"], :]

                              A
a 2013-01-05 00:00:00  0.093552
  2013-01-05 12:00:00  0.808761

In [114]:
dft2

                              A
a 2013-01-01 00:00:00  0.051847
  2013-01-01 12:00:00  0.328322
  2013-01-02 00:00:00  0.080476
  2013-01-02 12:00:00 -0.525652
  2013-01-03 00:00:00  4.425213
  2013-01-03 12:00:00  1.071000
  2013-01-04 00:00:00 -1.448323
  2013-01-04 12:00:00  2.154625
  2013-01-05 00:00:00  0.093552
  2013-01-05 12:00:00  0.808761
b 2013-01-01 00:00:00  1.416442
  2013-01-01 12:00:00  0.515969
  2013-01-02 00:00:00  0.550581
  2013-01-02 12:00:00  0.932791
  2013-01-03 00:00:00  1.148442
  2013-01-03 12:00:00 -0.057108
  2013-01-04 00:00:00 -0.565424
  2013-01-04 12:00:00 -0.898318
  2013-01-05 00:00:00 -0.218473
  2013-01-05 12:00:00 -0.139180

In [115]:
## Slice vs. Exact Match

In [116]:
series_minute = pd.Series([1,2,3],
                          pd.DatetimeIndex(
                              ["2011-12-31 23:59:00", 
                               "2012-01-01 00:00:00", 
                               "2012-01-01 00:02:00"]
                          ))

In [117]:
series_minute.index.resolution

'minute'

In [118]:
series_minute.loc["2011-12-31 23"]

2011-12-31 23:59:00    1
dtype: int64

In [119]:
series_minute.loc["2011-12-31 23:59"]

1

In [121]:
series_minute.loc["2011-12-31 23:59:00"]

1

In [122]:
dft_minute = pd.DataFrame(
                 {"a": [1,2,3], "b": [4,5,6]},
                 index=series_minute.index)

In [123]:
dft_minute.loc["2011-12-31 23"]

                     a  b
2011-12-31 23:59:00  1  4

In [124]:
dft_minute.loc["2011-12-31 23:59"]

a    1
b    4
Name: 2011-12-31 23:59:00, dtype: int64

In [125]:
series  = pd.Series([1,2],
                    index=[pd.Timestamp("2011-12-30"),
                           pd.Timestamp("2011-12-31")])

In [126]:
series.loc['2011-12']

2011-12-30    1
2011-12-31    2
dtype: int64

In [127]:
rng2 = pd.date_range("2011-01-01", "2012-01-01", freq="W")
ts2 = pd.Series(np.random.randn(len(rng2)), index=rng2)

In [128]:
ts2

2011-01-02    0.550030
2011-01-09   -0.311032
2011-01-16    0.953672
2011-01-23    1.048111
2011-01-30   -0.244340
2011-02-06   -1.826332
2011-02-13   -0.067182
2011-02-20    1.414358
2011-02-27    0.301401
2011-03-06    0.432416
2011-03-13    0.667743
2011-03-20    0.781783
2011-03-27   -1.559794
2011-04-03    0.116675
2011-04-10    0.700855
2011-04-17   -1.392390
2011-04-24   -0.318910
2011-05-01    0.718111
2011-05-08   -0.040762
2011-05-15   -1.833310
2011-05-22    2.309092
2011-05-29    0.150083
2011-06-05    1.892053
2011-06-12    0.808864
2011-06-19   -0.466188
2011-06-26   -0.816529
2011-07-03   -0.613350
2011-07-10   -0.225102
2011-07-17    1.281230
2011-07-24    0.934265
2011-07-31    2.486815
2011-08-07   -0.394443
2011-08-14   -0.349499
2011-08-21   -0.645671
2011-08-28   -2.131232
2011-09-04    0.765557
2011-09-11   -0.160688
2011-09-18   -0.923591
2011-09-25   -0.279974
2011-10-02    0.871515
2011-10-09   -1.492652
2011-10-16    1.208499
2011-10-23   -1.224539
2011-10-30    0.243037
2011-11-06   -0.225522
2011-11-13    0.065185
2011-11-20   -0.716544
2011-11-27    1.113235
2011-12-04    1.122675
2011-12-11    0.177745
2011-12-18    0.860394
2011-12-25    1.990432
2012-01-01   -0.934476
Freq: W-SUN, dtype: float64

In [129]:
ts2.truncate(before="2011-11", after="2011-12")

2011-11-06   -0.225522
2011-11-13    0.065185
2011-11-20   -0.716544
2011-11-27    1.113235
Freq: W-SUN, dtype: float64

In [130]:
ts2.loc["2011-11"]

2011-11-06   -0.225522
2011-11-13    0.065185
2011-11-20   -0.716544
2011-11-27    1.113235
Freq: W-SUN, dtype: float64

In [131]:
ts2.iloc[[0,2,6]].index

DatetimeIndex(['2011-01-02', '2011-01-16', '2011-02-13'], dtype='datetime64[ns]', freq=None)

## Time Series-related instance Methods

**Loading AirQuality Data**

1. ts.shift() can be used to creating, lead or lagged variables
2. ts.shift(5, freq='D'): This will shift datetime index, instead of values

In [132]:
data = pd.read_csv("Data/AirQuality.csv", parse_dates=['Date'], index_col='Date')

In [133]:
train_ts = ['2004-03-11', '2004-03-17']
test_ts = ['2004-03-18', '2004-03-24']

In [134]:
train = data.loc[train_ts[0]:train_ts[1]]
test = data.loc[test_ts[0]:test_ts[1]]

In [135]:
train['CO(GT)'].replace({-200: np.nan}, inplace=True)

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pandas/core/series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [148]:
train['del_T'] = train['T'].shift(-1) - train['T']

<ipython-input-148-0e5d82f00004>:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [137]:
import plotly.express as px

In [149]:
px.line(train, y=['T','del_T'])

In [142]:
rng = [pd.Timestamp("2012-01-01"),
       pd.Timestamp("2012-01-02"),
       pd.Timestamp("2012-01-03")]

In [144]:
ts = pd.Series(range(len(rng)), index=rng)

In [145]:
ts

2012-01-01    0
2012-01-02    1
2012-01-03    2
dtype: int64

In [147]:
ts.shift(-1)

2012-01-01    1.0
2012-01-02    2.0
2012-01-03    NaN
dtype: float64

In [150]:
ts.shift(5, freq="D")

2012-01-06    0
2012-01-07    1
2012-01-08    2
dtype: int64

In [151]:
## Frequency Conversion

In [152]:
dr = pd.date_range("1/1/2010", periods=3, freq=3 * pd.offsets.BDay())

In [153]:
dr

DatetimeIndex(['2010-01-01', '2010-01-06', '2010-01-11'], dtype='datetime64[ns]', freq='3B')

In [155]:
ts = pd.Series(np.random.randn(3), index=dr)

In [156]:
ts

2010-01-01    0.414903
2010-01-06   -0.177851
2010-01-11    0.133315
Freq: 3B, dtype: float64

In [157]:
pd.offsets.BDay()

In [161]:
ts.asfreq(pd.offsets.BDay())

2010-01-01    0.414903
2010-01-04         NaN
2010-01-05         NaN
2010-01-06   -0.177851
2010-01-07         NaN
2010-01-08         NaN
2010-01-11    0.133315
Freq: B, dtype: float64

In [162]:
# We can also fill up upsampled values
ts.asfreq("2D", method="pad")

2010-01-01    0.414903
2010-01-03    0.414903
2010-01-05    0.414903
2010-01-07   -0.177851
2010-01-09   -0.177851
2010-01-11    0.133315
Freq: 2D, dtype: float64

**Resample**

This is used for converting say, secondly data into 5-minutely data

In a Nutshell

1. `resample()` is time-based groupby, then followed by reduction method on each of it's groups

In [163]:
# Basics #

In [166]:
rng = pd.date_range("1/1/2012", periods=100, freq="1S")

In [169]:
ts = pd.Series(np.random.randint(0,500,len(rng)), index=rng)

In [172]:
ts.resample("4s").mean()

2012-01-01 00:00:00    321.75
2012-01-01 00:00:04     50.50
2012-01-01 00:00:08    194.00
2012-01-01 00:00:12    359.25
2012-01-01 00:00:16    231.25
2012-01-01 00:00:20    305.50
2012-01-01 00:00:24    224.75
2012-01-01 00:00:28    262.00
2012-01-01 00:00:32    114.25
2012-01-01 00:00:36    188.00
2012-01-01 00:00:40    228.00
2012-01-01 00:00:44    311.25
2012-01-01 00:00:48    176.75
2012-01-01 00:00:52    171.25
2012-01-01 00:00:56    244.00
2012-01-01 00:01:00    360.25
2012-01-01 00:01:04    173.00
2012-01-01 00:01:08    194.00
2012-01-01 00:01:12    241.75
2012-01-01 00:01:16    215.00
2012-01-01 00:01:20    316.25
2012-01-01 00:01:24    265.50
2012-01-01 00:01:28    267.50
2012-01-01 00:01:32    330.25
2012-01-01 00:01:36    292.50
Freq: 4S, dtype: float64

In [175]:
ts.resample('5min', closed='right').mean()

2011-12-31 23:55:00    167.000000
2012-01-01 00:00:00    242.292929
Freq: 5T, dtype: float64

In [177]:
ts.resample('5min', closed='right').groups

{Timestamp('2011-12-31 23:55:00', freq='5T'): 1,
 Timestamp('2012-01-01 00:00:00', freq='5T'): 100}

In [181]:
ts.truncate(after='2012-01-01 00:00:00')

2012-01-01    167
Freq: S, dtype: int64

In [182]:
## Upsampling ##

In [183]:
ts[:2].resample("250L").asfreq()

2012-01-01 00:00:00.000    167.0
2012-01-01 00:00:00.250      NaN
2012-01-01 00:00:00.500      NaN
2012-01-01 00:00:00.750      NaN
2012-01-01 00:00:01.000    160.0
Freq: 250L, dtype: float64

In [184]:
ts[:2].resample("250L").ffill(limit=2)

2012-01-01 00:00:00.000    167.0
2012-01-01 00:00:00.250    167.0
2012-01-01 00:00:00.500    167.0
2012-01-01 00:00:00.750      NaN
2012-01-01 00:00:01.000    160.0
Freq: 250L, dtype: float64

In [185]:
## Sparse Resampling ##

In [186]:
rng = pd.date_range("2014-1-1", periods=100, freq="D") + pd.Timedelta("1s")

In [188]:
ts = pd.Series(range(100),index=rng)

In [190]:
ts

2014-01-01 00:00:01     0
2014-01-02 00:00:01     1
2014-01-03 00:00:01     2
2014-01-04 00:00:01     3
2014-01-05 00:00:01     4
                       ..
2014-04-06 00:00:01    95
2014-04-07 00:00:01    96
2014-04-08 00:00:01    97
2014-04-09 00:00:01    98
2014-04-10 00:00:01    99
Freq: D, Length: 100, dtype: int64

In [189]:
ts.resample("3T").sum()

2014-01-01 00:00:00     0
2014-01-01 00:03:00     0
2014-01-01 00:06:00     0
2014-01-01 00:09:00     0
2014-01-01 00:12:00     0
                       ..
2014-04-09 23:48:00     0
2014-04-09 23:51:00     0
2014-04-09 23:54:00     0
2014-04-09 23:57:00     0
2014-04-10 00:00:00    99
Freq: 3T, Length: 47521, dtype: int64

In [193]:
ts.loc['2014-01-03 01:39']

Series([], Freq: D, dtype: int64)

In [195]:
from functools import partial
from pandas.tseries.frequencies import to_offset

In [197]:
def round(t, freq):
    freq = to_offset(freq)
    return pd.Timestamp((t.value // freq.delta.value ) * freq.delta.value)

In [198]:
ts.groupby(partial(round, freq="3T")).sum()

2014-01-01     0
2014-01-02     1
2014-01-03     2
2014-01-04     3
2014-01-05     4
              ..
2014-04-06    95
2014-04-07    96
2014-04-08    97
2014-04-09    98
2014-04-10    99
Length: 100, dtype: int64

## Aggregation

In [199]:
df = pd.DataFrame(np.random.randn(1000, 3),
                  index=pd.date_range("1/1/2012", freq="S", periods=1000),
                  columns=["A","B","C"])

In [202]:
r = df.resample("3T")

In [206]:
r["A"].agg([np.sum, np.mean, np.std])

                           sum      mean       std
2012-01-01 00:00:00   1.665910  0.009255  1.084272
2012-01-01 00:03:00 -20.807822 -0.115599  0.948541
2012-01-01 00:06:00   8.198445  0.045547  1.028515
2012-01-01 00:09:00   1.640726  0.009115  1.043631
2012-01-01 00:12:00  -9.063804 -0.050354  1.024056
2012-01-01 00:15:00  21.541166  0.215412  1.086177

In [207]:
r.agg({"A": np.sum,
       "B": lambda x: np.std(x, ddof=1)})

                             A         B
2012-01-01 00:00:00   1.665910  0.953548
2012-01-01 00:03:00 -20.807822  0.932378
2012-01-01 00:06:00   8.198445  1.103660
2012-01-01 00:09:00   1.640726  0.945416
2012-01-01 00:12:00  -9.063804  0.976142
2012-01-01 00:15:00  21.541166  1.101913

In [208]:
df = pd.DataFrame(

    {"date": pd.date_range("2015-01-01", freq="W", periods=5), "a": np.arange(5)},

    index=pd.MultiIndex.from_arrays(

        [[1, 2, 3, 4, 5], pd.date_range("2015-01-01", freq="W", periods=5)],

        names=["v", "d"],

    ),

)

In [209]:
df

                   date  a
v d
1 2015-01-04 2015-01-04  0
2 2015-01-11 2015-01-11  1
3 2015-01-18 2015-01-18  2
4 2015-01-25 2015-01-25  3
5 2015-02-01 2015-02-01  4

In [210]:
df.resample("M", on="date").sum()

            a
date
2015-01-31  6
2015-02-28  4

In [217]:
ind = pd.IndexSlice

In [218]:
df.loc[ind[1, "2015-01-04"]]

date    2015-01-04 00:00:00
a                         0
Name: (1, 2015-01-04 00:00:00), dtype: object

## Iterating through groups

**Looping**
With the `Resampler` object, we can iterate through the grouped data

```
for name, group in resampled:
    print("Group: ", name)
    print("-" * 27)
    print(group, end="\n\n")

```

In [219]:
date_l = ["2017-01-01T00:00:00","2017-01-01T00:30:00",
          "2017-01-01T00:31:00","2017-01-01T01:00:00",
          "2017-01-01T03:00:00","2017-01-01T03:05:00",]
small = pd.Series(range(6),
                  index=pd.to_datetime(date_l))

In [222]:
resampled = small.resample("H")

In [224]:
for name, group in resampled:
    print("Group: ", name)
    print("-" * 27)
    print(group, end="\n\n")

Group:  2017-01-01 00:00:00
---------------------------
2017-01-01 00:00:00    0
2017-01-01 00:30:00    1
2017-01-01 00:31:00    2
dtype: int64

Group:  2017-01-01 01:00:00
---------------------------
2017-01-01 01:00:00    3
dtype: int64

Group:  2017-01-01 02:00:00
---------------------------
Series([], dtype: int64)

Group:  2017-01-01 03:00:00
---------------------------
2017-01-01 03:00:00    4
2017-01-01 03:05:00    5
dtype: int64

In [225]:
# Using origin or offset to adjust the start of the bins

In [226]:
start, end = "2000-10-01 23:30:00", "2000-10-02 00:30:00"
middle = "2000-10-02 00:00:00"

In [227]:
rng = pd.date_range(start, end, freq="7min")

In [230]:
rng

DatetimeIndex(['2000-10-01 23:30:00', '2000-10-01 23:37:00',
               '2000-10-01 23:44:00', '2000-10-01 23:51:00',
               '2000-10-01 23:58:00', '2000-10-02 00:05:00',
               '2000-10-02 00:12:00', '2000-10-02 00:19:00',
               '2000-10-02 00:26:00'],
              dtype='datetime64[ns]', freq='7T')

In [228]:
ts = pd.Series(np.arange(len(rng)) * 3, index=rng)

In [229]:
ts

2000-10-01 23:30:00     0
2000-10-01 23:37:00     3
2000-10-01 23:44:00     6
2000-10-01 23:51:00     9
2000-10-01 23:58:00    12
2000-10-02 00:05:00    15
2000-10-02 00:12:00    18
2000-10-02 00:19:00    21
2000-10-02 00:26:00    24
Freq: 7T, dtype: int64

In [231]:
# start_day is default origin
ts.resample("17min", origin="start_day").sum()

2000-10-01 23:14:00     0
2000-10-01 23:31:00     9
2000-10-01 23:48:00    21
2000-10-02 00:05:00    54
2000-10-02 00:22:00    24
Freq: 17T, dtype: int64

In [232]:
ts.loc[middle:end]

2000-10-02 00:05:00    15
2000-10-02 00:12:00    18
2000-10-02 00:19:00    21
2000-10-02 00:26:00    24
Freq: 7T, dtype: int64

In [233]:
ts.loc[middle:end].resample("17min", origin="start_day").sum()

2000-10-02 00:00:00    33
2000-10-02 00:17:00    45
Freq: 17T, dtype: int64

In [234]:
# start_day is default origin
ts.resample("17min", origin="epoch").sum()

2000-10-01 23:18:00     0
2000-10-01 23:35:00    18
2000-10-01 23:52:00    27
2000-10-02 00:09:00    39
2000-10-02 00:26:00    24
Freq: 17T, dtype: int64

In [235]:
ts[middle:end].resample("17min", origin="epoch").sum()

2000-10-01 23:52:00    15
2000-10-02 00:09:00    39
2000-10-02 00:26:00    24
Freq: 17T, dtype: int64

In [237]:
ts[middle:end]

2000-10-02 00:05:00    15
2000-10-02 00:12:00    18
2000-10-02 00:19:00    21
2000-10-02 00:26:00    24
Freq: 7T, dtype: int64

In [242]:
ts.resample("11min", origin="2000-10-01 23:30:00").sum()

2000-10-01 23:30:00     3
2000-10-01 23:41:00    15
2000-10-01 23:52:00    12
2000-10-02 00:03:00    33
2000-10-02 00:14:00    21
2000-10-02 00:25:00    24
Freq: 11T, dtype: int64

In [239]:
ts

2000-10-01 23:30:00     0
2000-10-01 23:37:00     3
2000-10-01 23:44:00     6
2000-10-01 23:51:00     9
2000-10-01 23:58:00    12
2000-10-02 00:05:00    15
2000-10-02 00:12:00    18
2000-10-02 00:19:00    21
2000-10-02 00:26:00    24
Freq: 7T, dtype: int64

In [250]:
import pandas as pd
index = pd.date_range('2013-1-1',periods=10,freq='15Min')
data = pd.DataFrame(data=[1,2,3,4,5,6,7,8,9,0], columns=['value'], index=index)

In [255]:
loc_arr = data.index.indexer_between_time(start_time='01:15',
                                end_time='02:00')

In [256]:
data.iloc[loc_arr]

                     value
2013-01-01 01:15:00      6
2013-01-01 01:30:00      7
2013-01-01 01:45:00      8
2013-01-01 02:00:00      9